body
{
    background-color:white;
}
a{
    text-decoration: none;
    color:grey;
}
h1{
    color:grey;
    display:inline-block;
    margin-top:20px;
    margin-left:0%;
    position: fixed;
    font-size: 2em;
}
h4
{
    margin-left:5%;
    padding-left: 5%;
    padding-bottom: 5px;
    color:#2f96b4;
    font-size: 1em;
}
#arrowleft
{
    color:black;
    float:left;
    margin-top:25px;
    margin-left:2%;
    font-size: 25px;
}
#cog
{
    margin-top: 7px;
    color:#2f96b4;
    float:right;
    font-size:1em;
}
#plus
{
    color:black;
    float:right;
    margin-top:25px;
    margin-right:5%;
    font-size: 20px;
}
#user
{
    color:#2f96b4;
    float:right;
    margin-top:25px;
    margin-right:20px;
    font-size: 20px;
}
.profileTop
{
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    background-color: whitesmoke; 
}
.profileBottom
{
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    background-color: whitesmoke;  
    position: fixed;
    bottom:0;
}
