body
{
    background-color:whitesmoke;
}
h1{
    color:whitesmoke;
    display:inline-block;
    margin-top:15px;
    margin-left:5%;
    position: fixed;
}
h4
{
    padding-left: 5%;
}
.form-control
{
    margin-left: 5%;
    margin-bottom: 5px;
    width:90%;
    display:block;
    height: 50px;
}
.glyphicon
{
    display :inline-block;
    color: whitesmoke;
}
#ok
{
    float:right;
    margin-top:30px;
    margin-right:20px;
}
#user
{
    float:right;
    margin-top:25px;
    margin-right:20px;
}
.profileTop
{
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    background-color: #2f96b4; 
}
.profileBottom
{
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    background-color: #2f96b4;  
    position: fixed;
    bottom:0;
}
#website_button
{
    background-color: #2f96b4;
    margin:auto;
    margin-bottom: 5px;
    width:90%;
    display:block;
    text-align: center;
    padding:10px;
}
#logout_button
{
    margin:auto;
    width:90%;
    display:block;
    text-align: center;
    padding:10px;
}

@media (min-width: 768px) 
{
    h1{
        margin-left:25%;
    }
    h4
    {
        margin-left:20%;
    }
    .form-control{
        margin-left:25%;
        width: 50%;
        height: 30%;
    }
    #logout_button
    {
        margin-left:25%;
        padding:5px;
        width:50%;
    }
    #website_button
    {
        margin-left:25%;
        width:50%;
        padding:5px;
    }
    #ok
    {
        float:right;
        margin-top:30px;
        margin-right:200px;
    }
    #user
    {
        float:right;
        margin-top:25px;
        margin-right:200px;
    }
}
@media (min-width: 992px)
{
    h1{
        margin-left:30%;
    }
    h4
    {
        margin-left:25%;
    }
    .form-control{
        margin-left:30%;
        width: 40%;
    }
    #logout_button
    {
        margin-left:30%;
        width:40%;
    }
    #website_button
    {
        margin-left:30%;
        width:40%;
    }
    #ok
    {
        float:right;
        margin-top:30px;
        margin-right:310px;
    }
    #user
    {
        float:right;
        margin-top:25px;
        margin-right:310px;
    }
}
@media (min-width:1200px)
{
    h1{
        margin-left:5%;
    }
    h4
    {
        margin-left:30%;
    }
    .form-control{
        margin-left:35%;
        width: 30%;
    }
    #logout_button
    {
        margin-left:35%;
        width:30%;
    }
    #website_button
    {
        margin-left:35%;
        width:30%;
    }
    #ok
    {
        float:right;
        margin-top:30px;
        margin-right:5%;
    }
    #user
    {
        float:right;
        margin-top:25px;
        margin-right:5%;
    }
}