*{
 padding-left: 1%;
}
body{
    background-color:whitesmoke;
}
h1 {
    padding-top: 5%;
    color: black;
    font-size: xx-large;
}
.form-control{
    display: block;
    width: 98%;
    margin-bottom: 5px;
}
#register_button{
    font-size: 16px;
    color:#FFFFFF;
    background-color: #51a351;
    display : block;
    text-align: center;  
    width:98%;
    margin-bottom: 5px;
}
#back_button
{
    font-size: 16px;
    color:#FFFFFF;
    display : block;
    text-align: center;  
    width:98%;
    margin-bottom: 5px;
}
@media (min-width: 768px) 
{
    h1
    {
        text-align: center;
    }
    .form-control
    {
        margin:auto;
        margin-bottom: 5px;
        width:50%;
    }
    #register_button
    {
        margin:auto;
        margin-bottom: 5px;
        width:50%;
    }
    #back_button
    {
        margin:auto;
        margin-bottom: 5px;
        width:50%;        
    }

}
@media (min-width: 992px)
{
    
    .form-control
    {
        width:35%;
    }
    #register_button
    {
        width:35%;
    }
    #back_button
    {
        width:35%;        
    }
}
@media (min-width:1200px)
{
    .form-control
    {
        width:30%;
    }
    #register_button
    {
        width:30%;
    }
    #back_button
    {
        width:30%;        
    }
}