body
{
    background-color:whitesmoke;
}
a{
    text-decoration: none;
    color:whitesmoke;
}
h1{
    color:whitesmoke;
    display:inline-block;
    margin-top:20px;
    margin-left:0%;
    position: fixed;
    font-size: 2em;
}
h4
{
    margin-left:5%;
    padding-left: 5%;
    padding-bottom: 2%;
    color:black;
    font-size: 1em;
}
#arrowleft
{
    float:left;
    margin-top:25px;
    margin-left:2%;
    font-size: 25px;
}
#cog
{
    margin-top: 2%;
    color:black;
    float:right;
    font-size:1em;
}
#plus
{
    float:right;
    margin-top:25px;
    margin-right:5%;
    font-size: 20px;
}
#user
{
    float:right;
    margin-top:25px;
    margin-right:20px;
    font-size: 20px;
}
.profileTop
{
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    background-color: #2f96b4; 
}
.profileBottom
{
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    background-color: #2f96b4;  
    position: fixed;
    bottom:0;
}
