<title>Find Destination</title>
<h1 class = "title">Search Destination</h1>

<form (ngSubmit)="search(destination.value)" #destination="ngForm">
    <input (ngModel)="destination" name="destination" class="form-control" type="text">
    <a (click)="search(destination.value)" class="btn-primary" role="button" type="submit" >Search</a>
</form>

<form (ngSubmit)="add(destination1.value)" #destination1="ngForm">
    <input (ngModel)="destination" name="destination" class="form-control" type="text" value={{destinationlist[0]}}>
    <a (click)="add(destination1.value)" class="btn-primary" role="button" type="submit" >Select</a>
</form>

<form (ngSubmit)="add(destination2.value)" #destination2="ngForm">
    <input (ngModel)="destination" name="destination" class="form-control" type="text" value={{destinationlist[1]}}>
    <a (click)="add(destination2.value)" class="btn-primary" role="button" type="submit" >Select</a>
</form>

<form (ngSubmit)="add(destination3.value)" #destination3="ngForm">
    <input (ngModel)="destination" name="destination" class="form-control" type="text" value={{destinationlist[2]}}>
    <a (click)="add(destination3.value)" class="btn-primary" role="button" type="submit" >Select</a>
</form>

<form (ngSubmit)="add(destination4.value)" #destination4="ngForm">
    <input (ngModel)="destination" name="destination" class="form-control" type="text" value={{destinationlist[3]}}>
    <a (click)="add(destination4.value)" class="btn-primary" role="button" type="submit" >Select</a>
</form>

<form (ngSubmit)="add(destination5.value)" #destination5="ngForm">
    <input (ngModel)="destination" name="destination" class="form-control" type="text" value={{destinationlist[4]}}>
    <a (click)="add(destination5.value)" class="btn-primary" role="button" type="submit" >Select</a>
</form>
