
        <h1 class="headerTitle">Profile</h1> 
        
            <i class="glyphicon glyphicon-ok" id="ok"></i> 
        
    <div class="space"></div>
    <title>profile</title>
    <form >

    <h4 class ="subTitle">Username</h4>
    <input [(ngModel)]="username" name="username" class ="form-control" type="text" >
    <h4 class ="subTitle">First Name</h4>
    <input [(ngModel)]="username" name="firstname" class ="form-control" type="text" >
    <h4 class ="subTitle">Last Name</h4>
    <input [(ngModel)]="lastname" name="lastname" class ="form-control" type="text">
    <a routerLink="/destination" class="btn-success" role="button" >Destination</a>
    <a routerLink="/login" class="btn-danger" role="button" id="logout_button">Logout</a>

    </form>
<i class="glyphicon glyphicon-user" id="user"></i> 

