
        <h1 class="title">Register</h1>
        <title>Register</title>
        <input (ngModel)="username" name="username" class = "form-control" type="text" placeholder="Username">
        <input (ngModel)="password" name="password"class = "form-control" type="password" placeholder="Password">
        <input (ngModel)="password" name="password"class = "form-control" type="password" placeholder="Verify Password">
        <a [routerLink]="['/user',userId]" class="btn-success" role="button" id="register_button">Register</a>
        <a routerLink="/login" class="btn-danger" role="button" id="back_button">Back</a>